<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
          type='text/css'>
    <!-- optional CDN for Foundation Icons ^^ -->
</head>
<body>

<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="title-bar-right">
        <img src="https://placehold.it/130x38&text=LOGO" alt="company logo">
    </div>
</div>

<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="hide-for-small-only"><img src="https://placehold.it/130x38&text=LOGO" alt="company logo"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->

<div class="callout large primary">
    <div class="text-center">
        <h1>Our Blog</h1>
        <h2 class="subheader">Such a Simple Blog Layout</h2>
    </div>
</div>

<article class="grid-container">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <div class="blog-post">
                <h3>Awesome blog post title <small>3/6/2016</small></h3>
                <img class="thumbnail" src="https://placehold.it/850x350">
                <span class="secondary label">Space</span>
                <span class="secondary label">Galaxies</span>
                <span class="secondary label">Milky Way</span>
                <span class="secondary label">Black Holes</span>
                <span class="secondary label">Rebels</span>
                <span class="secondary label">Death Star</span>
                <span class="secondary label">Republic</span>
                <span class="secondary label">R2D2</span>
                <hr>
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                    congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                    Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                    Nulla at nulla justo, eget luctus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rhoncus lacus. Sed volutpat
                    iaculis nisi eget aliquam. Curabitur auctor lorem eget erat dapibus posuere. Vivamus a pretium sem,
                    pellentesque ultrices felis. Sed tempor urna ut nunc dapibus tempus. Pellentesque ut nibh nibh.
                    Aliquam erat volutpat. Cras sodales odio a risus finibus porta.</p>

                <p>Nullam ut urna euismod, vestibulum nisl sed, tincidunt nunc. Integer blandit ut orci sed suscipit.
                    Sed ullamcorper arcu molestie pulvinar elementum. Mauris et pretium urna, in mollis lacus. Nam
                    efficitur tempus sollicitudin. Aliquam pharetra fermentum sem. Morbi eget est sed urna blandit
                    consequat. Quisque tincidunt ligula a mi posuere lobortis. Nam convallis arcu aliquet nibh varius
                    accumsan. Nulla a vulputate nisi. Donec molestie nec orci ut ullamcorper.</p>

                <p>Morbi vel facilisis ante, ac malesuada metus. Vivamus et odio nunc. Praesent lacinia maximus
                    vulputate. Donec eu metus tellus. Sed feugiat urna et diam blandit lobortis. Suspendisse pharetra
                    libero sit amet leo pretium mollis. Fusce eu massa quis sapien suscipit viverra. In hac habitasse
                    platea dictumst. Aliquam quis congue ligula. Cras finibus ligula at risus tempor dictum.</p>

                <p>Etiam aliquam, nunc sed pellentesque aliquet, ligula urna ornare ipsum, in ultricies arcu augue vitae
                    nisi. Fusce facilisis odio nec leo consequat fermentum. Aliquam fringilla id lacus vitae fermentum.
                    Suspendisse eu metus turpis. Morbi turpis nisl, consequat eu semper sed, aliquam sed neque. Duis in
                    lacus at augue sagittis mollis. Ut porta a est id mollis. Nunc ligula ligula, blandit et ultricies
                    et, volutpat et tellus.</p>

                <p>Suspendisse eu volutpat massa. Duis sit amet lacus et tortor pretium convallis. Proin leo sem,
                    sagittis quis aliquam ac, dignissim et mi. Cras malesuada sed ex sit amet efficitur. Aliquam
                    vulputate lacus et ornare pulvinar. Cras commodo ipsum molestie dui fermentum, eget commodo urna
                    ullamcorper. Fusce ut lacinia sapien, quis finibus eros. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Praesent lobortis ex quis massa consequat feugiat. In
                    tincidunt mollis ipsum vel volutpat. Aenean scelerisque, metus sed pellentesque lobortis, dui eros
                    hendrerit nibh, nec viverra dui ex vitae felis. Aliquam non semper sapien.</p>


                <div class="callout">
                    <p>Author: Mike Mikers</p>
                </div>
            </div>
        </div>
    </div>
</article>


<footer>
    <div class="grid-x grid-margin-x expanded callout secondary">

        <div class="large-4 cell hide-for-small-only">
            <h5>FLICKR IMAGES</h5>
            <div class="grid-x medium-up-4">
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
                <div class="cell"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
            </div>

        </div>

        <div class="medium-6 large-4 cell">
            <h5>FLICKR IMAGES</h5>
            <span class="secondary label">Space</span>
            <span class="secondary label">Galaxies</span>
            <span class="secondary label">Milky Way</span>
            <span class="secondary label">Black Holes</span>
            <span class="secondary label">Rebels</span>
            <span class="secondary label">Death Star</span>
            <span class="secondary label">Republic</span>
            <span class="secondary label">R2D2</span>
        </div>

        <div class="large-4 cell">
            <h5>RANDOM MAG</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab
                similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla
                aspernatur sequi aliquam.</p>
        </div>

    </div>
    <div class="grid-x grid-margin-y expanded">

        <div class="small-12 medium-6 cell">
            <ul class="menu">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="small-12 medium-6 cell">
            <ul class="menu align-right">
                <li class="menu-text">Copyright © 2020 Hello World Company</li>
            </ul>
        </div>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
