<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
          type='text/css'>
    <!-- optional CDN for Foundation Icons ^^ -->
</head>
<body>

<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="title-bar-right">
        <img src="https://placehold.it/130x38&text=LOGO" alt="company logo">
    </div>
</div>

<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="hide-for-small-only"><img src="https://placehold.it/130x38&text=LOGO" alt="company logo"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->

<div class="callout large">
    <div class="row column text-center">
        <h1>Changing the World Through Design</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
        <a href="#" class="button large">Go to shop</a>
        <a href="#" class="button large hollow">Go to blog</a>
    </div>
</div>

<article class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-6 cell small-order-2 medium-order-1">
            <h2>Our Agency, our selves.</h2>
            <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec
                diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis
                sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum
                elementum. Donec viverra auctor.</p>
        </div>
        <div class="medium-6 cell small-order-1 medium-order-2">
            <img class="thumbnail" src="https://placehold.it/750x350">
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="medium-4 cell">
            <h3>Photoshop</h3>
            <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec
                diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
        </div>
        <div class="medium-4 cell">
            <h3>Javascript</h3>
            <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec
                diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
        </div>
        <div class="medium-4 cell">
            <h3>Marketing</h3>
            <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec
                diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
        </div>
    </div>

    <hr>

    <div class="row column">
        <ul class="vertical medium-horizontal menu expanded text-center">
            <li><a href="#">
                <div class="stat">28</div>
                <span>Websites</span></a></li>
            <li><a href="#">
                <div class="stat">43</div>
                <span>Apps</span></a></li>
            <li><a href="#">
                <div class="stat">95</div>
                <span>Ads</span></a></li>
            <li><a href="#">
                <div class="stat">59</div>
                <span>Cakes</span></a></li>
            <li><a href="#">
                <div class="stat">18</div>
                <span>Logos</span></a></li>
        </ul>
    </div>

    <hr>

    <div class="row column">
        <h3>Our Recent Work</h3>
    </div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-3">
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow expanded">Buy Now</a>
        </div>
    </div>

    <hr>
</article>

<footer>
    <div class="grid-x callout">

        <div class="small-12 medium-6 cell">
            <ul class="menu">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="small-12 medium-6 cell">
            <ul class="menu align-right">
                <li class="menu-text">Copyright © 2020 Hello World Company</li>
            </ul>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
