<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
          type='text/css'>
    <!-- optional CDN for Foundation Icons ^^ -->
</head>
<body>

<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="title-bar-right">
        <img src="https://placehold.it/130x38&text=LOGO" alt="company logo">
    </div>
</div>

<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="hide-for-small-only"><img src="https://placehold.it/130x38&text=LOGO" alt="company logo"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->

<br>
<article class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
            <img class="thumbnail" src="https://placehold.it/650x350">
        </div>
        <div class="medium-6 large-5 cell large-offset-1">
            <h3>My Awesome Product</h3>
            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
                faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas
                purus in.</p>

            <label>Size
                <select>
                    <option value="husker">Small</option>
                    <option value="starbuck">Medium</option>
                    <option value="hotdog">Large</option>
                    <option value="apollo">Yeti</option>
                </select>
            </label>

            <div class="grid-x">
                <div class="small-3 cell">
                    <label for="middle-label" class="middle">Quantity</label>
                </div>
                <div class="small-9 cell">
                    <input type="text" id="middle-label" placeholder="One fish two fish">
                </div>
            </div>

            <h4>Product price: <strong>30$</strong></h4>

            <a href="#" class="button large expanded">Buy Now</a>

            <h6>Share this product:</h6>
            <div class="small secondary expanded button-group">
                <a href="#" class="button">Facebook</a>
                <a href="#" class="button">Twitter</a>
            </div>
        </div>
    </div>

    <hr>

    <h3>Other products:</h3>
    <div class="grid-x grid-margin-x medium-up-2 large-up-4">
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
                <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="cell">
            <img class="thumbnail" src="https://placehold.it/450x250">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac
                euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
    </div>

    <hr>

</article>

<footer>
    <div class="grid-x callout">

        <div class="small-12 medium-6 cell">
            <ul class="menu">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="small-12 medium-6 cell">
            <ul class="menu align-right">
                <li class="menu-text">Copyright © 2020 Hello World Company</li>
            </ul>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
